html{
    font-family: Helvetica;
}
body{
    background-color: #63C6CF;
}
section{
    background-color: #fff;
    margin:0% 6% 0% 6%;
}
article{
    margin:5% 6% 0% 6%;
}
header{
	display:flex;
  flex-flow:row wrap; 
	padding:12%;
  background-color: #3B619C;
  background-image: url(../imagens/sistemas-para-internet.jpg), url(../imagens/meu_logo.png);
  background-repeat: no-repeat, no-repeat ;
	background-position:right,left;
  background-size: 50%,50%;
}
 /*menu*/
.menu {
  font-family: sans-serif;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menu ul li {
  width: 20%;
}
@media (max-width: 40em) {
  .menu ul li {
    width: 100%;
  }
}
.menu ul li > ul {
  display: none;
  flex-direction: column;
}
.menu ul li > ul li {
  width: 100%;
}
.menu ul li:hover > ul {
  display: flex;
}
.menu a {
  text-transform: uppercase;
  display: block;
  background: #5C6169;
  padding: 1.5vw;
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  background: gray;
}
.menu .sub-menu li > a {
  background: #5C6169;
  color: white;
}
.menu .sub-menu > a:after {
  content: "+";
  padding-left: 1%;
}

p,a{
    font-size: 1.5vw;
     text-indent: 2%;  
}
h1,h2,h3{
  font-size: 3vw;
   text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

.fateclink{
  float: right;
  padding-right:5%;
}
.fotos{
    float: right;
    height:25%;
    width:25%; 
}
.designimage{
    height: 25%;
    width: 25%;
    margin: 2% 4% 2% 4%;
}
#tim{
  float: left;
  padding:16%;
  background-size:100%;
  background-image: url(../imagens/tim_bernes_lee.jpg);
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 2%;
}
#criacao{
  background-size:45%;
  padding:13%;
  background-image: url(../imagens/protocolos.png);
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 5%;
 
}
#alg{
   background-size:100%;
  background-image: url(../imagens/algoritmo.png);
   padding:15%;
   background-repeat: no-repeat;
   background-position: right;
   float: right;
}

.html{
    float: right;
    height:50%;
    width:50%;
}
.tec{
    float: right;
    margin: 1% 0% 1% 1%;
}
#port1{
  background-size:100%;
  background-image: url(../imagens/portugues.jpg);
  padding:15%;
  background-repeat: no-repeat;
  background-position: right;
  margin: 0% 5% 0% 5%;  
}
#port{
  background-size:100%;
  padding:25%;
  background-image: url(../imagens/portugues1.jpg);
  background-repeat: no-repeat;
  background-position: left ;
}
#mat{
  background-size:45%,50%;
  padding: 15%;
  background-image: url("../imagens/matematica1.jpg"), url("../imagens/matematica2.jpg");
  background-position: left,right;
  background-repeat: no-repeat;
}
#articledesign{

  border-top: solid;
  margin-top: 13%;
}
#seo{
  background-size:35%;
  padding:15%;
  background-image: url(../imagens/seo.jpg);
  background-repeat: no-repeat;
  background-position:left;
}

.formulario{
    padding: 2% 0% 10% 0%;
}
input,  textarea, select,label,fieldset,legend,textarea{
    display:block;
    margin-bottom:2%;
    font-size: 1.5vw;
    size: 30vw;
}
textarea{
  max-width: 20vw;
  max-height: 20vw;
}
input.dis_inline{
    display:inline-block;
}

footer {
    clear: both;
    background: #eee;
    padding: 1%;
    border-top: 1% solid #ddd;
    text-align: center;
    color: #777;
}
.copy{
    margin: 1% 0% 1% 10%;
}

.ifelse{
    
    text-decoration: none;
}
.siteCriado{
  float: right;
  margin:0% 15% 5% 0%;
}

strong{
    color: red;
}

#artigo{   
    position: absolute;
    margin: 0% 52% 0% 5%;
}
#relatorio{
    float: right;
    margin: 0% 5% 0% 52%;   
}
.seta{ 
    height: 22%;
    width: 22%;
    float: right;
    margin: 0% 10% 0% 0%;
}
.brasil{
    height: 7%;
    width: 7%;
    float: left;
    margin: 0% 0% 1% 40%; 
}

/*.gallery {
  
}
.image {
  
}
.item img {
  display: block;
  width: 100%
}
*/
.row {
  display: flex;  
 flex-wrap: wrap;
  margin: 1%;
  padding: 1%;
}

.column {
  flex: 20%;
  margin: 1em;
}
@media screen and (max-width: 800px) {
  .column {
     
  }
}